# Python virtual environment
venv/
env_aloud/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# PTE Specific Transient Data
PTE_MFA_TESTER_DOCKER/data/output_*/
PTE_MFA_TESTER_DOCKER/data/run_*/
corpus/check_*
corpus/recording_*
corpus/temp_upload_*
