version: '3.8'

services:
  asr-grammar:
    image: cive202/pte-asr-grammar:latest
    build: 
      context: ./PTE_ASR_GRAMMAR_DOCKER
    ports:
      - "8000:8000"
    container_name: pte-asr-grammar-service
    restart: unless-stopped
    networks:
      - pte-network

  wav2vec2-service:
    image: cive202/wav2vec2-phoneme-cpu:latest
    build: 
      context: ./wav2vec2_service
    ports:
      - "8001:8001"
    container_name: wav2vec2-phoneme-cpu
    restart: unless-stopped
    networks:
      - pte-network

networks:
  pte-network:
    driver: bridge
